body{
	background: #ddd;
	font-family: 'Trebuchet MS','Roboto',sans-serif;
	font-size: 16px;
}
*{
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;

}
a{
	text-decoration: none;
	color:#fff;
}
.bg-color{
	background-color: #fff;
	margin-top:80px; 
}

.logo h1 a,.navbar-brand{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	color:#444;
}
.logo a{
	color: #999;
}
.social{
	padding: 20px 0px 20px 20px;
}
.social li{
	padding: 0;
}
.social li a{
	display: block;
	background: #70b325;
	width: 30px;
	height:30px;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	border-radius:100%;
	transition: all 0.3 ease;
	-webkit-transition: all 0.3 ease;
	-moz-transition: all 0.3 ease;
}
.social li a:hover{
	color: #70b325;
	background: #424242;
}
.address{
	margin-top: -15px;
}
.address li{
	color: #999;
}
.navbar-inverse{
	border-color: #080808;
    background-color: #222;
    border-radius: 0;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #70b325;
}
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #70b325;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3 ease;
    -webkit-transition: all 0.3 ease;
    -moz-transition: all 0.3 ease;
}
.navbar {
    border: 0px solid transparent;
}
.navbar-collapse {
	padding: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #222;
    background-image: none;
    border: 1px solid rgba(39,38,38,0);
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: rgba(102,175,233,0);
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #222;
    border: 0px solid #ccc;
    border-radius: 0px;
}



/* Photo gallery */
h2{
	margin: 0;
	padding: 0;
}
.photo-gallery{
	margin-top: 20px;
}
.heading{
	background: #222;
	padding: 6px 0px 6px 0px;
	border-radius: 5px;
	margin-bottom: 15px;
	color:#fff;
	text-transform: uppercase;
}
.btn-default {
    color: #fff;
    background-color: #70b325;
    border-color: transparent;
    font-weight: 600;
}

.btn-default:hover {
    color: #70b325;
    background-color: #fff;
    border-color: #70b325;
}
.gallery{
	position: relative;
	overflow: hidden;
}
.thumbnail{
transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.thumbnail:hover{
	box-shadow: 0px 0px 10px #888;
}
.gallery img{
	width: 100%;
}
.gallery a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border:2px solid #fff;
	border-radius: 5px;
	background: #70b325;
	padding: 5px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    z-index: 2;   
}

.gallery:hover a{
	opacity: 1;
}
.gallery a:hover{
	border:2px solid #70b325;
	background: #fff;
	color:#70b325; 
}

.hover_one:before{
   position: absolute;
    content: "";
    top: 0;
    right: 0;
    width:100%;
    height: 100%;
    background: rgba(34, 34, 34,0.7); 
    transform: scale(1,0);
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    z-index: 1; 

}

.hover_one:hover:before{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
 
}

/************ hover_four ************/

.hover_four .first:after,.hover_four .first:before,.hover_four .second:after,.hover_four .second:before{
	position: absolute; 
   	content: "";
   	background: rgba(34, 34, 34,0.7); 
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    z-index: 1;
}
.hover_four .first:after{
	top: 0;
	left: 0;
	width: 50%;
	height:50%;
}
.hover_four .first:before{
	
	bottom: 0;
	left: 0;
	width: 50%;
	height:50%;
	
}
.hover_four .second:after{

	top: 0;
	right: 0;
	width: 50%;
	height:50%;
	
}
.hover_four .second:before{
	bottom: 0;
	right: 0;
	width: 50%;
	height:50%;
}

.hover_four:hover .first:after,.hover_four:hover .first:before,.hover_four:hover .second:after,.hover_four:hover .second:before{

    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}

.gallery img {
  -moz-transition: all 0.5s ease 0.3s;
  -webkit-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}
.gallery:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}



.map-Signup{
	margin-top: 20px;
}
.map{
position: relative;
}
.map-overlay{
	position: absolute;
	width: 100%;
	height: 400px;
	background: rgba(112, 179, 37,0.3);
	top:49%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
}

.map:hover .map-overlay{
	width: 30%;
	opacity: 0;
	visibility: hidden;
}
.map-overlay> i,.map-overlay> p{
	position: absolute;
	top:45%;
	left: 50%;
	transform: translate(-45%,-50%);
	color:#222;
}
.map-overlay> i{
	font-size: 90px; 
	animation: increase 3s linear 1s infinite;
	-webkit-animation: increase 3s 1s infinite;
	-moz-animation: increase 3s linear 1s infinite;
}
@keyframes increase{
	0%{font-size:90px;color:#000;}
	50%{font-size: 75px;color: #e60000;}
	100%{font-size: 100px;color:#000;}

}
.map-overlay> p{
	top:62%;
	font-size: 30px;
	font-weight: 300; 
}
.form-design{
    border-radius: 0;
    padding: 15px;
    margin: 15px 0;
    transition: all 0.5s;
    background: #fff;
    border: 1px solid #ddd;
}
.SignUpHeading{
    background: #70b325;
    color: #fff;
    max-width: 140px;
    padding: 5px;
    border-radius: 25px 25px 0px 0px;
    margin: 0 auto;
}
.SignUpForm{
    border: 4px solid #70b325;
    padding: 5px 13px 10px 13px;
    border-radius: 10px;
}
.name{
	margin-bottom: -15px;

}
.form-design:focus{
	width: 103%;
	border: 1px solid #222;
}

.footer-content{
	margin-top: 20px;
	padding-top: 15px;
	border-top: 4px solid #222;
	font-weight: bold;
}
.footer-content p a{
	color:#70b325;
}
.footer-social .social{
	padding: 0px;
}


@media(min-width: 768px) and (max-width: 991px){
	.navbar-form{
    display: block;
    width: 112px;
    height: 10px;
    padding: 8px 0px;
    margin:0px;
	}
}

@media(max-width: 767px){
	.navbar-collapse{
		padding-left: 15px;
		padding-right: 15px;
	}
	.social,.address{
		text-align: center !important;
	}
}
@media(max-width: 480px){
	.map-overlay{
		display: none;
	}
}